<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/"><img src="https://raw.githubusercontent.com/dino-lang/dino/master/Dino.jpg"
		     height=105 witdh=160/></a></li>
<li><a href="/">Home</a></li>
<li><a href="/learn/learn.html">Learn</a></li>
<li><a href="/doc/dino.html">Documentation</a></li>
<li><a href="/download">Download</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:vmakarov@gcc.gnu.org">email</a></li>
   <li><a href="https://github.com/dino-lang/dino">Dino on github</a></li>
   </ul>
  </footer>

  </body>
</html>
